<mat-card class="w-96 m-auto p-4 min-h-[20rem] flex flex-col gap-6 border ">
    <mat-card-header class="text-center">Todo app</mat-card-header>
   <mat-card-content>
    <form>
        <mat-form-field appearance="fill" style="display: block;">
            <mat-label>Enter Todo task</mat-label>
            <input matInput  placeholder="Press Enter to add" required (keyup.enter)="addTodo(todo)" #todo >
            <mat-error>Please enter field</mat-error>
          </mat-form-field>
    </form>
    <mat-list>
        <mat-list-item  *ngFor="let todo of todos.controls ;index as i" (click)="removeTodo(i)" class="m-1 border" >
           {{todo.value}}
        </mat-list-item>
    </mat-list>
   </mat-card-content>
</mat-card>
