<mat-card class="w-[32rem] m-auto flex flex-col gap-4 border">
    <mat-card-header>
        <mat-card-title>
            Github Followers
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col gap-4">
        <mat-card *ngFor="let follower of user" class="p-3 m-2 border">
            <mat-card-header>
                <img src="{{follower.avatar_url}}" alt="" class="h-16 rounded-full">
            <mat-card-title-group class="p-2 flex flex-col gap-2">
                <mat-card-title>{{follower.login}}</mat-card-title>
                <mat-card-subtitle>{{follower.html_url}}</mat-card-subtitle>
            </mat-card-title-group>
            </mat-card-header>
        </mat-card>
    </mat-card-content>
    <span >
        year : {{year}}
    </span>
</mat-card>
