<p>favorite works!</p>
<span
  ><i
    (click)="onClick()"
    class="fa-star p-4 text-[10rem]"
    [class.fa-solid]="isFavorite"
    [class.fa-regular]="!isFavorite"
  ></i>
</span>

<span
  ><i
  (click)="like()"
    class="fa-heart p-4 text-[10rem]"
    [class.fa-solid]="isLiked"
    [class.fa-regular]="!isLiked"
  ></i
></span>
<span>{{ likesCount }}</span>

<div class="p-12 m-4 flex flex-row gap-4 justify-center border">
  <label for="input">Enter input here</label>
  <input type="text" id="input" class="p-1 border" placeholder="enter input" [appInputFormat]="'uppercase'" />

</div>
