<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
</mat-expansion-panel-header>
<p>I'm visible because I am open</p>
</mat-expansion-panel>


<mat-card>
    <mat-card-header>
        <mat-card-title>
            Counter App with redux {{counterDisplay}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>
            <input type="text" matInput [(ngModel)]="counterInput" (keyup.enter)="add()" (keyup.esc)="onReset()">
            <button mat-button (click)="add()" >Add</button>
        </mat-card-actions>
        <mat-card-actions class="flex flex-row gap-3">
            <button (click)="onIncrement()"  mat-raised-button color="primary">increment</button>
            <button (click)="onDecrement()"  mat-raised-button color="primary">decrement</button>
            <button (click)="onReset()"  mat-raised-button color="primary">reset</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>