<div class="p-2 py-3 m-auto mb-3 w-[24rem] border ">
    <h1 class="text-center">Update your Password</h1>
    <br>
<form [formGroup]="form" class="flex flex-col gap-4">
    <div id="form-control" class="flex flex-col gap-1">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" formControlName="currentPassword" class="p-1 px-2 border  outline-2 outline-sky-500 rounded-md">
        <div id="error-box" *ngIf="currentPassword?.touched && currentPassword?.invalid" class="text-[11px] text-red-500">
            <span *ngIf="currentPassword?.errors?.['required']" >
                Enter current password
            </span>
            <span *ngIf="currentPassword?.errors?.['invalidCurrentPassword']">
               current password is wrong
            </span>
        </div>
    </div>
    <div id="form-control" class="flex flex-col gap-1">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="p-1 px-2 border  outline-2 outline-sky-500 rounded-md">
        <div id="error-box" *ngIf="newPassword?.touched && newPassword?.invalid" class="text-[11px] text-red-500">
            <span *ngIf="newPassword?.errors?.['required']" >
                Enter new password
            </span>
            <span *ngIf="newPassword?.errors?.['minlength']">
               Password should be min 6 letters
            </span>
            <span *ngIf="newPassword?.errors?.['pattern']">
               Password should be strong
            </span>
        </div>
    </div>
    <div id="form-control" class="flex flex-col gap-1">
        <label for="confirmPassword">confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="p-1 px-2 border  outline-2 outline-sky-500 rounded-md">
        <span *ngIf="confirmPassword?.touched && form.errors?.['passwordsShouldMatch']" class="text-[11px] text-red-500">
          new password and confirm password not matched
        </span>
    </div>
    <button class="p-1 border border-sky-300">Change Password</button>
</form>

</div>