<mat-card class="p-2 py-3 m-auto mb-3 w-[24rem] border ">
    <mat-card-header>
        <mat-card-title style="text-align: center;">Update your Password</mat-card-title>
    </mat-card-header>
    <br>
<form [formGroup]="form" (submit)="done()" class="flex flex-col gap-4" >
    <!-- <div id="form-control" class="flex flex-col gap-1">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" formControlName="currentPassword" class="p-1 px-2 border  outline-2 outline-sky-500 rounded-md">
        <div id="error-box" *ngIf="currentPassword?.touched && currentPassword?.invalid" class="text-[11px] text-red-500">
            <span *ngIf="currentPassword?.errors?.['required']" >
                Enter current password
            </span>
            <span *ngIf="currentPassword?.errors?.['invalidCurrentPassword']">
               current password is wrong
            </span>
        </div>
    </div> -->
    <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput formControlName="currentPassword">
        <mat-error *ngIf="currentPassword && currentPassword?.touched">invalid current password</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword">
        <mat-error *ngIf="newPassword?.errors?.['minlength']">  Password should be min 6 letters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword">
        <mat-error *ngIf="confirmPassword?.touched && form.errors?.['passwordsShouldMatch']" >new password and confirm password not matched</mat-error>
    </mat-form-field>
  
    <!-- <div id="form-control" class="flex flex-col gap-1">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="p-1 px-2 border  outline-2 outline-sky-500 rounded-md">
        <div id="error-box" *ngIf="newPassword?.touched && newPassword?.invalid" class="text-[11px] text-red-500">
            <span *ngIf="newPassword?.errors?.['required']" >
                Enter new password
            </span>
            <span *ngIf="newPassword?.errors?.['minlength']">
               Password should be min 6 letters
            </span>
            <span *ngIf="newPassword?.errors?.['pattern']">
               Password should be strong
            </span>
        </div>
    </div> -->
    <!-- <div id="form-control" class="flex flex-col gap-1">
        <label for="confirmPassword">confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="p-1 px-2 border  outline-2 outline-sky-500 rounded-md">
        <span *ngIf="confirmPassword?.touched && form.errors?.['passwordsShouldMatch']" class="text-[11px] text-red-500">
          new password and confirm password not matched
        </span>
    </div> -->
    <button mat-raised-button color="primary" [disabled]="form.status === 'INVALID'">Change password</button>
</form>

</mat-card>