<!--  *ngIf -->

<div *ngIf="posts.length > 0; then postList; else noPost"></div>
<ng-template #postList> post list </ng-template>
<ng-template #noPost> no post </ng-template>

<!-- *ngSwitch -->

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map view</div>
  <div *ngSwitchCase="'list'">List view</div>
  <div *ngSwitchDefault="">default view</div>
</div>


<!-- ngFor and change detection -->

<mat-card class="p-2 m-auto my-2 w-96 border border-gray-200" >
  <mat-card-actions class="flex flex-row gap-4 p-2">
    <button (click)="loadCourse()" class="p-2 border border-sky-500 rounded-xl">
      load course
    </button>
    <button (click)="onAdd()" class="p-2 border border-sky-500 rounded-xl">
      Add new Course
    </button>
  </mat-card-actions>

  <mat-card-header>Course list</mat-card-header>
  <mat-card-content>
    <mat-list>
      <!-- ngstyle for providing multiple style in one element -->
      <mat-list-item
        *ngFor="let course of courses; trackBy: trackCourse"
          [ngStyle]="{
              'background-color':'lightblue',
              'border-radius':'1rem',
              'margin':'5px'
          }"
        class="p-3 flex flex-row gap-3"
      >
        {{ course.name }}
        <button
          class="border p-1 px-2 bg-sky-700 text-white rounded-lg"
          (click)="onRemove(course)"
        >
          Delete
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

